.bodycss {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	list-style-type: lower-alpha;
  line-height:1.5em;
}
@media only screen and (max-width: 767px) {
  #Layer2 .bodycss {
    padding:30px 0px;
    /*border: 1px solid black;
    box-shadow:0px 0px 5px gray;*/
    margin:0;
    border-bottom:1px solid #CCC;
  }
  body {
    background:white;
    padding-top:70px;
  }
  #Layer1 {
    display:none;
  }
  #Layer2 {
    position:static !important;
    width:70% !important;
    min-width:400px !important;
    max-width:800px !important;
    margin:auto;
  }
  /* the nav */
  #Layer3 {
    position:fixed !important;
    background:linear-gradient(to right, #FF0000, #0000FF);
    width:100% !important;
    top:0px !important;
    left:0px !important;
    right:0px !important;
    height:50px !important;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
  }
}
